* {box-sizing: border-box;}

.slide{
    display: none;
}

.slides{
    max-width: 500px;
    position: relative;
    margin: 0 auto;
}

.text{
    color: black;
    font-size: 20px;
    padding: 2em;
    text-align: center;
    width: 100%;
}


.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4;}
    to {opacity: 1;}
}